<nav class="navbar navbar-dark bg-primary">
  <div class="col-xs-2">
    <a class="navbar1" href="#">Calendar</a>
  </div>
  <div class="col-xs-2">
    <a class="navbar1" href="#">Home <span class="sr-only">(current)</span></a>
  </div>
  <div class="col-xs-2">
    <a class="navbar1" href="#">Link</a>
  </div>
  <div class="col-xs-2">
    <a class="navbar1" href="#">Disabled</a>
  </div>
</nav>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
