body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.navbar1 {
  color: black;
  font-weight: bold;
  font-size: 36px;
  padding: 15px;
}

.navbar2 {
  color: white;
  font-weight: bold;
  font-size: 30px;
}
